body {
  background-image: url("../assets/images/rivendell.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
  color: white;
  font-family: fantasy;
}

.interface-box {
  background-color: rgb(75, 75, 75, .5);
  margin: 5%;
  padding: 3%;
  border-radius: 15px;
}

h1 {
  text-align: center;
  color: rgb(231, 182, 59);
}

#Aragorn {
  display: none;
}
#Arwen {
  display: none;
} 
#Boromir{
  display: none;
}
#Elrond{
  display: none;
}
#Eomer {
  display: none;
}

#Eowyn {
  display: none;
}

#Faramir {
  display: none;
}

#Frodo {
  display: none;
}

#Galadriel {
  display: none;
}

#Gandalf {
  display: none;
}

#Gimli {
  display: none;
}

#Gollum {
  display: none;
}

#Legolas {
  display: none;
}

#Meriadoc {
  display:none;
}

#Peregrin {
  display:none;
}

#Samwise {
  display:none;
}

#Sauron {
  display:none;
}

#Saruman {
  display:none;
}

#Thranduil {
  display:none;
}

